*,*:hover{
    cursor: url("./src/assets/Maincursor.png") 0 0 ,auto;
}

body {
    background-image: url("./src/assets/homeBackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100dvh;
    
}
#root{
    display: flex;
    padding-block-start: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    min-height: 680px;

}
