@font-face {
  font-family: "organix";
  src: url("./Organix.otf");
}

.organix {
  font-family: "organix";
  font-optical-sizing: auto;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.dela-gothic-one {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

