@import url("../../GlobalCss/variables.css");


.home__h1 {
    color: var(--white-text);
    font-size: 32px;
    transition: .4s;
    text-shadow:0 0 0 transparent;
}
.home__h1:hover{
    color: black;
    text-shadow: 0 2px 7px #FFFFFF;
}

/* text div */
.home__text__div {
    display: flex;
    flex-direction: column;
    row-gap: 160px;
}

.home__ul {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.home__li {
    color: var(--white-text);
    line-height: 24px;
    font-size: 16px;
    word-spacing: 5px;
    transition: .4s;
    text-shadow:0 0 4px transparent;
}
.home__li:hover{
    color: black;
    text-shadow: 0 0px 4px #FFFFFF,
    0 2px 10px #FFFFFF;
}

/* image div */
.home__image__section {
    position: relative;
    display: flex;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    
}
.laptop__image__div{
    position: relative;
    width: fit-content;
    background-position: center;
    background-size:cover;
}

.laptop {
    transform: translate(-12%, -70px);
}

.laptop__image__div::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -53.5%;
    left: -62px;
    transform: rotate(180deg);
    background-image: url("../../assets/laptop.png");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
