.small__cursor {
    cursor: url("../../../assets/cursor.png") 0 0, auto;
}

.register__div *{
     cursor: url("../../../assets/cursor.png") 0 0, auto;
}

.register__div {
    position: absolute;
    top: 6px;
    left: 145px;
    display: flex;
    row-gap: 5px;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    width: 530px;
    height: 344px;
    padding-left: 15px;
}
/* header */
.header{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 10px;
    padding-right: 15px;
}
.fa-user-plus{
    font-size: 14px;
    transition: .4s;
}
.fa-user-plus:hover{
    transform:translateY(-2px);
}
.register__toggle{
    font-size: 12px;
    background-color: transparent;
    border: none;
    box-shadow: 0 0 0 transparent;
    transition: .4s;
    border-radius: 3px;
    padding: 4px 10px;
}

.signup__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width: 230px;
    height: fit-content;
    background: rgba(255, 255, 255, 0.336);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.441);
    border-radius: 8px;
    padding-block: 25px;
}

.form__h2{
    font-size: 20px;
    font-weight: 700;
}
input{
    outline: none;
    border: none;
    border-radius: 3px;
    /* border:1px solid black; */
    background-color: transparent;
    box-shadow: 0 0px 5px #000000;
    font-size: 12px;
    width: 70%;
    padding: 5px 0 5px 5px;
    transition: .4s;
}
input:hover{
    box-shadow: 0 0px 10px #000000;
}

.submit{
    width: 85%;
    padding:7px 0 ;
    font-weight: 600;
    background-color: transparent;
    border: none;
    transition: .4s;
    box-shadow: 0 0 0 transparent;
    border-radius: 6px;
}
.submit:hover,.register__toggle:hover{
    transform: translateY(-3px);
    box-shadow: 0 3px 10px -1px  #000000;
}