.registration {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 370px;
    height: 400px;
    border: 3px solid #FFFFFF;
    padding-inline: 20px;
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 7px 12px #ffffffa8;
    overflow: hidden;
}
.registration:hover .input__div {
    transform: translateY(0);
}
.registration:hover input:first-child{
    transform: translateY(0);
    opacity: 1;
}
.input__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    justify-content: center;
    transform: translateY(-30px);
    transition: .4s;
}

input {
    padding: 7px 0 7px 6px;
    width: 70%;
    outline: none;
    transition: .4s;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #000000;
    box-shadow: 0 0px 7px #FFFFFF;
}

input:first-child{
    transform: translateY(-100px);
    opacity: 0;
}
input:hover,input:focus{
    transform: translateY(-5px);
}
input:focus{
    background-color: #000000;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}
.submit {
    position: relative;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    background-color: transparent;
    backdrop-filter: blur(10px) brightness(1);
    padding-block: 10px;
    font-size: 18px;
    transition: .4s;
}
.submit::before{
    content:"Become Our Member";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left: 0;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    transition: .4s;
}
.submit:hover{
    transform: translateY(-5px);
}
.submit:hover::before{
    opacity: 1;
}